span {
  display: inline-block;
  margin: 0.05em;
  text-align: center;
  background-color: #ccc;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.selected {
  background-color: #eee;
  color: #ddd;
}

.used {
  background-color: #eee;
  color: #ddd;
}